<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <!-- <script src="main.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css" />

</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">
                    <i class="code icon"></i>Blog Site
            </div>
            <a class="active item" href="/blogs">
              Home
            </a>
            <a class="item" href="/blogs/new">
              New
            </a>
        </div>
    </div>
          <h1>Header</h1>

